# 4 store kollokasjoner

## Set up

In [83]:
import dhlab as dh
import pandas as pd
import pandas as pd
import string
import re
import warnings
import matplotlib.pyplot as plt
from dhlab import totals
from IPython.display import display, HTML

In [84]:
def display_side_by_side(df_dict):
    html_str = ""
    for key, df in df_dict.items():
        html_str += f"<h3>{key}</h3>"
        html_str += df.to_html() + "\xa0\xa0\xa0"
    display(HTML(html_str))


def remove_punct_and_numbers_from_index(series):
    # Create a pattern to match words containing only letters (case insensitive)
    word_pattern = re.compile("^[a-zA-Z]+$")

    # Filter out indices that do not match the word pattern
    filtered_series = series[series.index.to_series().str.contains(word_pattern)]

    return filtered_series

def split_dataframe_by_decades(df, year_column):
    min_year = (df[year_column].min() // 10) * 10 + 1
    max_year = (df[year_column].max() // 10) * 10 + 10
    decades = (max_year - min_year) // 10

    decade_dict = {}
    for i in range(decades):
        start_year = min_year + i * 10
        end_year = start_year + 9
        decade_key = f"{start_year}-{end_year}"
        decade_books = df[(df[year_column] >= start_year) & (df[year_column] <= end_year)]
        decade_dict[decade_key] = decade_books

    return decade_dict

def find_collocations_ny_decade(tokens, dct, tots):
    colls = dict()

    for key in dct.keys():
        #print(dct[key])
        try:
            colls[key] = dh.Collocations(dct[key], tokens)
        except:
            print(key)  



    top = dict()

    with warnings.catch_warnings():
        warnings.simplefilter("ignore", category=FutureWarning)
    
        for key in colls:
            t = (colls[key].frame.iloc[:, 0] / tots.iloc[:,0] ) # .sort_values().head(20).to_frame('Kollokasjoner')
            r = remove_punct_and_numbers_from_index(t)

            top[key] = r.sort_values(ascending =False).head(20).to_frame('Kollokasjonsscore')

    display_side_by_side(top)

## Analyse

In [85]:
norsk = dh.Corpus(doctype='digibok', subject="lærebøker AND norsk", limit=10000000)
norsk_decades = split_dataframe_by_decades(norsk.frame, 'year')
tots =  totals(200000)

### Henrik Ibsen

In [87]:
find_collocations_ny_decade(['Henrik', "Ibsen"], norsk_decades, tots)

1841-1850
1851-1860

/home/larsm/micromamba/envs/utdanningshistorie/lib/python3.11/site-packages/dhlab/api/dhlab_api.py:713: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  return pd.read_json(r.json())
/home/larsm/micromamba/envs/utdanningshistorie/lib/python3.11/site-packages/dhlab/api/dhlab_api.py:713: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  return pd.read_json(r.json())
/home/larsm/micromamba/envs/utdanningshistorie/lib/python3.11/site-packages/dhlab/api/dhlab_api.py:713: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  return pd.read_json(r.json())

### Bjørnstjerne Bjørnson

In [90]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=FutureWarning)
    find_collocations_ny_decade(['Bjørnstjerne', "Bjørnson"], norsk_decades, tots)

1841-1850
1851-1860

### Jonas Lie

In [91]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=FutureWarning)
    find_collocations_ny_decade(['Jonas', "Lie"], norsk_decades, tots)

1841-1850
1851-1860

### Alexander Kielland

In [92]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=FutureWarning)
    find_collocations_ny_decade(['Alexander', "Kielland"], norsk_decades, tots)

1841-1850
1851-1860

### Amalie Skram

In [93]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=FutureWarning)
    find_collocations_ny_decade(['Amalie', "Skram"], norsk_decades, tots)

1841-1850
1851-1860